<!DOCTYPE html>
<md-card layout="column">

    <div layout="row" layout-align="space-around center">
        <md-button class="md-raised md-primary">
            Primary
        </md-button>
        <md-button class="md-raised md-accent">
            Accent
        </md-button>
        <md-button class="md-raised md-warn">
            Warn
        </md-button>
        <md-button class="md-raised">
            No Color
        </md-button>
    </div>

    <div layout="row" layout-align="space-around center">
        <md-button class="md-raised md-primary">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
        <md-button class="md-raised md-accent">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
        <md-button class="md-raised md-warn">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
        <md-button class="md-raised">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
    </div>

    <div layout="row" layout-align="space-around center">
        <md-button class="md-icon-button md-raised md-primary">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-raised md-accent">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-raised md-warn">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-raised">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
    </div>

    <div layout="row" layout-align="space-around center">
        <md-button class="md-primary">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
        <md-button class="md-accent">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
        <md-button class="md-warn">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
        <md-button>
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
    </div>

    <div layout="row" layout-align="space-around center">
        <md-button class="md-icon-button md-primary">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-accent">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-warn">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
        <md-button class="md-icon-button">
            <md-icon md-svg-icon="rabbit"></md-icon>
        </md-button>
    </div>
</md-card>