<!DOCTYPE html>
<div layout="column">

    <div layout="column" md-colors="{background: 'primary'}" layout-margin md-whiteframe="1">
        <span class="md-title">Primary</span>

        <div layout="row">
            <div flex="33" layout="row" layout-align="center center" md-colors="{background: 'primary-hue-1'}">
                <span>Hue-1</span>
            </div>
            <div flex="33" layout="row" layout-align="center center" md-colors="{background: 'primary-hue-2'}">
                <span>Hue-2</span>
            </div>
            <div flex="33" layout="row" layout-align="center center" md-colors="{background: 'primary-hue-3'}">
                <span>Hue-3</span>
            </div>
        </div>
    </div>

    <div layout="column" md-colors="{background: 'accent'}" layout-margin md-whiteframe="1">
        <span class="md-title">Accent</span>

        <div layout="row">
            <div flex="33" layout="row" layout-align="center center" md-colors="{background: 'accent-hue-1'}">
                <span>Hue-1</span>
            </div>
            <div flex="33" layout="row" layout-align="center center" md-colors="{background: 'accent-hue-2'}">
                <span>Hue-2</span>
            </div>
            <div flex="33" layout="row" layout-align="center center" md-colors="{background: 'accent-hue-3'}">
                <span>Hue-3</span>
            </div>
        </div>
    </div>

    <div layout="column" md-colors="{background: 'warn'}" layout-margin md-whiteframe="1">
        <span class="md-title">Warn</span>

        <div layout="row">
            <div flex="33" layout="row" layout-align="center center" md-colors="{background: 'warn-hue-1'}">
                <span>Hue-1</span>
            </div>
            <div flex="33" layout="row" layout-align="center center" md-colors="{background: 'warn-hue-2'}">
                <span>Hue-2</span>
            </div>
            <div flex="33" layout="row" layout-align="center center" md-colors="{background: 'warn-hue-3'}">
                <span>Hue-3</span>
            </div>
        </div>
    </div>

    <div layout="column" md-colors="{background: 'background'}" layout-margin md-whiteframe="1">
        <span class="md-title">Background</span>

        <div layout="row">
            <div flex="33" layout="row" layout-align="center center" md-colors="{background: 'background-hue-1'}">
                <span>Hue-1</span>
            </div>
            <div flex="33" layout="row" layout-align="center center" md-colors="{background: 'background-hue-2'}">
                <span>Hue-2</span>
            </div>
            <div flex="33" layout="row" layout-align="center center" md-colors="{background: 'background-hue-3'}">
                <span>Hue-3</span>
            </div>
        </div>
    </div>
</div>