<!DOCTYPE html>
<div layout="column" layout-padding>

    <div layout="row" layout-align="space-between center">

        <span class="md-headline">Installed Themes</span>

        <md-switch ng-model="$ctrl.showHue" md-invert style="margin-top: 0; margin-bottom: 0">Show Hue</md-switch>

    </div>

    <div layout="row" layout-align="center stretch" layout-xs="column" layout-padding>

        <theme
                flex-xs="100"
                flex-sm="50"
                flex-md="50"
                flex-lg="33"
                flex-xl="25"
                layout="column"
                ng-repeat="theme in $ctrl.themes"
                theme="theme"
                show-hue="$ctrl.showHue"></theme>

    </div>
</div>