<!DOCTYPE html>
<md-sidenav
        flex
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-whiteframe="4">
    <md-toolbar>
        <div class="md-toolbar-tools">

            <span>Menu</span>

            <span flex></span>

            <md-button hide show-xs show-sm class="md-icon-button" ng-click="$ctrl.closeSidenav()">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>

        </div>
    </md-toolbar>
    <md-content flex>

        <div layout="row" layout-margin>
            <span>
                This is the sidenav. Configured to stay open for devices with a screen size greater "sm".
            </span>
        </div>

    </md-content>
</md-sidenav>